@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
	font-family: 'Montserrat', sans-serif;
	background-color: #48505f;
	color: #fff;
}

.content {
	width: 80%;
	margin-left: 10%;
}

#navbar {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	background-color: #DE4F4F;
}

.navbar-brand {
	color: white;
}

.about-text {
	text-align: justify; 
}

input {
	border: none;
	color: #48505f;
	padding: 5px;
	min-width: 200px;
	margin-bottom: 20px;
}

#index {
	width: 100%;
	margin-left: 0;
	margin-top: -20px;
	height: calc(100vh - 50px);
	min-height: 300px;
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	padding-top: 15px;
	text-align: center;
	color: #fff;
}

.subtitle {
	text-align: center;
	font-size: medium;
	color: #fff
}

.button-container {
	margin-top: 100px;
	text-align: center;
}

#room-code {
	margin-top: 30px;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	border: none;
	width: 70%;
}

#manage-title {
	margin-top: 30px;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	border: none;
	width: 100%;
}

#adminTools {
	text-align: center;
}

.admin-button {
	text-transform: uppercase;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	font-size: medium;
	border: none;
	margin: 30px;
	padding: 30px;
	margin-bottom: 100px;
}

.flat-button {
	text-transform: uppercase;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	border: none;
}

.flat-button:hover {
	background-color: #f3f3f3;
	color: #48505f;
	text-decoration: none;
}

.large-flat-button {
	text-transform: uppercase;
	background-color: #fff;
	color: #48505f;
	padding: 14px;
	text-decoration: none;
	font-size: x-large;
	min-width: 350px;
	margin: 20px;
	border: none;
}

.large-flat-button:hover {
	background-color: #e6e6e6;
	color: #48505f;
	text-decoration: none;
}

hr {
	width: 70%;
	color: #fff;
}

.left-incomplete{
	width: 70%;
	color: #fff;
	margin-left: 0;
}

.full-width {
	width: 100%;
	color: #fff;
}

@media only screen and (max-width: 768px) {
    
	.large-flat-button {
		display: block;
	}
	#room-code {
		margin-top: 30px;
		background-color: #fff;
		color: #48505f;
		padding: 10px;
		text-decoration: none;
		border: none;
		width: 100%;
		font-size: small;
	}
}
