/*******************************************/
/* Fonts!                                  */
/*******************************************/


/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/*******************************************/
/* Body, index, and Site-Wide Styling      */
/*******************************************/

html, body {
	font-family: 'San Francisco', sans-serif;
	background-color: #f0f0f0;
	font-weight: 500;
	color: #4b4a4a;
}

.flex-container-about {
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    margin-bottom: 1%;
	box-shadow: 1px 5px 20px 1px rgba(96, 96, 96, 0.05 );
}

.flex-item-about {
    background-color: #f0f0f0;
    width: 77%;
    margin-right: 3%;
    height: auto;
    padding: 20px;
	vertical-align: middle;
}

.left {
	text-align: center;
    margin-left: 3%;
	width: 17%;
	box-shadow: none;
	border: none;
}

.content {
	width: 80%;
	margin-left: 10%;
}

#navbar {
	font-family: 'San Francisco', sans-serif;
	text-transform: uppercase;
	background-color: #3A7EB7;
	font-weight: 700;
	min-height: 80px;
}

#navbar ul{
	float: right;
}


#navbar li{
	font-family: 'San Francisco', sans-serif;
	text-transform: uppercase;
	background-color: #3A7EB7;
	font-weight: 500;
	padding-top: 15px;
	font-size: large;
	min-height: 80px !important;
}

#navbar li:hover{
	font-family: 'San Francisco', sans-serif;
	text-transform: uppercase;
	background-color: #48505f;
	font-weight: 500;
	padding-top: 15px;
	font-size: large;
	min-height: 80px !important;
}

#navbar a{
	background-color: transparent;
}

#navbar a:hover{
	background-color: transparent;
}

.navbar-brand {
	padding-top: 15px !important;
	padding-right: 60px !important;
	font-size: large;
	min-height: 80px !important;
	color: #4b4a4a;
	width: 200px;
	text-transform: lowercase;
	content: url(images/logo-white.png);
}

.about-text {
	text-align: justify; 
}


.main-title {
	padding-top: 30px;
	text-align: center;
	color: #4b4a4a;
	font-weight: 600;
	font-size: 70px;
	font-weight: 400;
}

.title {
	padding-top: 30px;
	text-align: center;
	color: #4b4a4a;
	font-weight: 600;
}

.room-subtitle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: medium;
}

#index {
	width: 100%;
	margin-left: 0;
	height: calc(100vh - 80px);
	min-height: 600px;
	text-align: center;
	align-content: center;
	background: url(images/bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo {
	content:url(images/logo.png);
	width: 50%;
	text-align: center;
}

hr {
	width: 100%;
	color: #fff;
	border: 0.5px solid #d4d4d4;	
}

/*******************************************/
/* Styling for Tables and the Data in them */
/*******************************************/

.room-info {
	box-shadow: 1px 5px 20px 1px rgba(96, 96, 96, 0.08 );
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
    min-width: 884px ;
    text-align: left;
    border-bottom: 5px solid #d4d4d4;
    border-left: 5px solid #d4d4d4;
    border-right: 5px solid #d4d4d4;
}

.flex-item {
	border-bottom: 1px solid black;
    height: auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    margin: 14px;
}

.flex-item button{
	width: 100%;
	background-color: #3A7EB7;
	color: white;
	border: none;
	padding: 14px;
	border-radius: 3px;
}

.name {
	border: 3px solid rgba(58, 127, 184, 0);
	border-bottom: 1px solid black;
	border-radius: 3px;
}

.top {
	text-align: center;
	border: 3px solid #3A7EB7;
	border-radius: 3px;
}

.bottom {
	border-bottom: none !important;
	padding: 0 !important;
}


.table-title {
	background-color: #d4d4d4 !important;
	color: #4b4a4a !important;
	font-weight: bold;
}

.name {
    min-width: 150px ;
}

.hash {
	width: calc(100% - 300px);
    min-width: 500px;
}

.original {
    min-width: 150px;
}

table {
	border: 5px solid #d4d4d4;
	border-color: #d4d4d4;
	width: 100%;
	box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.05);
}


th {
	border: 1px solid #d4d4d4;
	width: 50%;
	padding: 20px;
	background-color: #d4d4d4 !important;
	color: #4b4a4a !important;
	font-size: medium;
}

td {
	border: 5px solid #d4d4d4;
	width: 50%;
	padding: 20px;
	font-size: medium;
}

.link {
	border: 5px solid #d4d4d4;
	width: 50%;
	padding: 20px;
	background-color: #d4d4d4 !important;
	color: #4b4a4a !important;
	font-size: medium;
}

.roomInfo {
	margin-bottom: 100px;
}


/*******************************************/
/* Styling inputs, buttons, & select menus */
/*******************************************/


select {
	border: 2px solid #d4d4d4;
	color: #4b4a4a;
	min-width: 300px;
	margin-bottom: 20px;
	font-size: large;	
}

.table-info {
	padding-bottom: 150px;
}

input {
	border: 2px solid #d4d4d4;
	color: #4b4a4a;
	padding: 5px;
	min-width: 300px;
	margin-bottom: 20px;
	font-size: large;
}

.deal-cards {
	width: 100%;
	padding: 10px !important;
}

.deal-cards h3{
	margin: 0px !important;
	padding: 10px;
}

.button-container {
	margin-top: 100px;
	text-align: center;
}

.flat-button {
	text-transform: uppercase;
	background-color: #4b4a4a;
	color: #f0f0f0;
	padding: 10px;
	text-decoration: none;
	border: none;
	font-size: large;
}

.flat-button:hover {
	text-transform: uppercase;
	background-color: #717070;
	color: #f0f0f0;
	padding: 10px;
	text-decoration: none;
	border: none;
	font-size: large;
	
}

.selectedOption {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	max-width: 100px;
	min-width: 100px;
	margin-right: 10px;
	margin-bottom: 0;
	text-align: center;
}

.large-flat-button {
	text-transform: uppercase;
	background-color: #4b4a4a;
	color: #f0f0f0;
	padding: 14px;
	text-decoration: none;
	font-size: x-large;
	min-width: 350px;
	margin: 20px;
	border: none;
}

.large-flat-button:hover {
	background-color: #7b7979;
	color: #f0f0f0;
	text-decoration: none;
}

/*******************************************/
/* Styling room info display               */
/*******************************************/

#room-code {
	margin-top: 30px;
	background-color: #4b4a4a;
	color: #4b4a4a;
	padding: 10px;
	text-decoration: none;
	border: none;
	width: 100%;
}

#manage-title {
	margin-top: 30px;
	background-color: #d4d4d4;
	color: #4b4a4a;
	padding: 10px;
	text-decoration: none;
	border: none;
	width: 100%;
}

#table-title {
	margin-top: 30px;
	margin-bottom: -0px;
	background-color: #d4d4d4;
	color: #4b4a4a;
	padding: 20px;
	text-decoration: none;
	border: none;
	width: 100%;
}

#adminTools {
	text-align: center;
}

@media only screen and (max-width: 1100px) {


	h3 {
		font-size: large;
	}
	
	.flex-container {
    	min-width: 24px ;
		display: block;
		width: 100%;
		border: 2px solid #d4d4d4;
		margin-top: 14px;
		border-radius: 2px;
		box-shadow: 1px 5px 20px 1px rgba(96, 96, 96, 0.08 );
	}
	.flex-item {
		width: 96%;
	}
	
	.table-title {
		background-color: #d4d4d4 !important;
		color: #4b4a4a !important;
		font-weight: bold;
	}

	.name {
		width: auto !important;
	}

	.hash {
		width: auto;
		max-width: 100% !important;
		word-wrap: break-word;
		font-size: small;
		min-width: 1px;
		
	}

	.original {
		width: auto !important;
	}
	
	.room-info {
		box-shadow: 1px 5px 20px 1px rgba(96, 96, 96, 0.00 );
	}
}

@media only screen and (max-width: 850px) {
    

	th {
		max-width: 10vw !important;
		word-wrap: break-word;
		font-size: small;
	}
	
	td {
		max-width: 10vw !important;
		word-wrap: break-word;
		font-size: small;
	}
	table {
		table-layout: fixed;
		
	}
}

@media only screen and (max-width: 768px) {
    select {
		width: 100%;
	}

	input {
		width: 100%;
	}
    .left {
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	}
	.large-flat-button {
		display: block;
	}
	#room-code {
		margin-top: 30px;
		background-color: #4b4a4a;
		color: #f0f0f0;
		padding: 10px;
		text-decoration: none;
		border: none;
		width: 100%;
		font-size: small;
	}
	.subtitle {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.flat-button {
		margin-top: 10px;
		width: 100%;
	}
	.selectedOption {
		width: 100%;
		max-width: 100%;
	}
	
	#index {
		text-align: center;
	}
	#navbar ul{
		float: left;
		margin-top: 0;
		margin-bottom: 0;
	}
	#navbar li{
		width: 95vw;
		margin-bottom: 0;
		margin-top: 0;
	}
}
