/*******************************************/
/* Fonts!                                  */
/*******************************************/


/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/*******************************************/
/* Body, index, and Site-Wide Styling      */
/*******************************************/

html, body {
	font-family: 'San Francisco', sans-serif;
	background-color: #48505f;
	font-weight: 500;
	color: #fff;
}

.content {
	width: 80%;
	margin-left: 10%;
}

#navbar {
	font-family: 'San Francisco', sans-serif;
	text-transform: uppercase;
	background-color: #DE4F4F;
	font-weight: 700;
}

.navbar-brand {
	color: white;
}

.about-text {
	text-align: justify; 
}


.title {
	padding-top: 30px;
	text-align: center;
	color: #fff;
	font-weight: 600;
}

.subtitle {
	text-align: center;
	font-size: medium;
	color: #fff
}

#index {
	width: 100%;
	margin-left: 0;
	margin-top: -20px;
	height: calc(100vh - 50px);
	min-height: 300px;
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


hr {
	width: 100%;
	color: #fff;
	
}

/*******************************************/
/* Styling for Tables and the Data in them */
/*******************************************/

table {
	border: 5px solid white;
	border-color: white;
	width: 100%
}

th {
	border: 1px solid white;
	width: 50%;
	padding: 20px;
	background-color: white !important;
	color: #48505f !important;
	font-size: medium;
}

td {
	border: 5px solid white;
	width: 50%;
	padding: 20px;
	font-size: medium;
}

.link {
	border: 5px solid white;
	width: 50%;
	padding: 20px;
	background-color: white !important;
	color: #48505f !important;
	font-size: medium;
}


/*******************************************/
/* Styling inputs, buttons, & select menus */
/*******************************************/


select {
	border: none;
	color: #48505f;
	min-width: 300px;
	margin-bottom: 20px;
	font-size: large;
	
}

input {
	border: none;
	color: #48505f;
	padding: 5px;
	min-width: 300px;
	margin-bottom: 20px;
	font-size: large;
}


.button-container {
	margin-top: 100px;
	text-align: center;
}

.flat-button {
	text-transform: uppercase;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	border: none;
	font-size: large;
}

.flat-button:hover {
	background-color: #f3f3f3;
	color: #48505f;
	text-decoration: none;
}

.selectedOption {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px !important;
	max-width: 100px !important;
	min-width: 100px !important;
	margin-right: 10px;
	margin-bottom: 0;
	text-align: center;
}

.large-flat-button {
	text-transform: uppercase;
	background-color: #fff;
	color: #48505f;
	padding: 14px;
	text-decoration: none;
	font-size: x-large;
	min-width: 350px;
	margin: 20px;
	border: none;
}

.large-flat-button:hover {
	background-color: #e6e6e6;
	color: #48505f;
	text-decoration: none;
}

/*******************************************/
/* Styling room info display               */
/*******************************************/

#room-code {
	margin-top: 30px;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	border: none;
	width: 100%;
}

#manage-title {
	margin-top: 30px;
	background-color: #fff;
	color: #48505f;
	padding: 10px;
	text-decoration: none;
	border: none;
	width: 100%;
}

#adminTools {
	text-align: center;
}

@media only screen and (max-width: 768px) {
    
	.large-flat-button {
		display: block;
	}
	#room-code {
		margin-top: 30px;
		background-color: #fff;
		color: #48505f;
		padding: 10px;
		text-decoration: none;
		border: none;
		width: 100%;
		font-size: small;
	}
}
